Web/projeto/foodverse/__pycache__/__init__.cpython-314.pyc
Web/projeto/foodverse/__pycache__/admin.cpython-314.pyc
Web/projeto/foodverse/__pycache__/apps.cpython-314.pyc
Web/projeto/foodverse/__pycache__/models.cpython-314.pyc
Web/projeto/foodverse/__pycache__/urls.cpython-314.pyc
Web/projeto/foodverse/__pycache__/views.cpython-314.pyc
Web/projeto/foodverse/migrations/__pycache__/__init__.cpython-314.pyc
Web/projeto/projeto/__pycache__/__init__.cpython-314.pyc
Web/projeto/projeto/__pycache__/settings.cpython-314.pyc
Web/projeto/projeto/__pycache__/urls.cpython-314.pyc
Web/projeto/projeto/__pycache__/wsgi.cpython-314.pyc
Web/projeto/db.sqlite3
