{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="auth-container">
    <div class="auth-row">
        
        <div class="auth-form-side">
            <div class="form-wrapper">
                <img src="{% static 'img/logobc.svg' %}" alt="FoodVerse" class="auth-logo">
                
                <div class="auth-header">
                    <h1>Bem-Vindo</h1>
                    <p>Faça login para continuar conectado.</p>
                </div>

                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="input-group-custom">
                        <input type="text" name="username" placeholder="Email ou usuário" required>
                    </div>
                    <div class="input-group-custom">
                        <input type="password" name="password" placeholder="Senha" required>
                    </div>
                    
                    <div class="auth-options">
                        <label class="remember-me">
                            <input type="checkbox"> <span>Manter conectado</span>
                        </label>
                        <a href="#" class="forgot-password">Esqueceu a senha?</a>
                    </div>

                    <button type="submit" class="btn-login">ENTRAR</button>
                </form>

                <div class="auth-footer">
                    <p class="divider"><span>ou faça login com</span></p>
                    <div class="social-login">
                        <button class="social-btn"><i class="fab fa-google"></i></button>
                        <button class="social-btn"><i class="fab fa-facebook-f"></i></button>
                    </div>
                    <p class="signup-text">
                        Não tem uma conta? <a href="{% url 'cadastro' %}">Clique aqui para se cadastrar.</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="auth-image-side">
          
            <div class="overlay"></div>
            <div class="image-content">
                <h2>Descubra novos sabores no <span>FoodVerse</span></h2>
            </div>
        </div>

    </div>
</section>
{% endblock %}