* {
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

header {
    background-color: #303030;

}

img {
    width: 260px;
    height: auto;
}

.nav-item a {
    font-size: 1.1em;
}

.icon-nav-item {
    color: #d60000;
}

.navbar-toggler {
    background-color: #fff;
}