* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}


header {
  background-color: #303030;

}

img {
  width: 260px;
  height: auto;
}

.nav-item a {
  font-size: 1.1em;
}

.icon-nav-item {
  color: #d60000;
}

.navbar-toggler {
  background-color: #fff;
}

main {
  width: 100%;
}

.banner {
  background: linear-gradient(90deg, #a60000, #cc0000);
}

.nav-tabs .nav-link {
  border: none;
  padding: 0.75rem 1.5rem;
}

.nav-tabs .nav-link.active {
  background-color: #ffc107 !important;
  color: #000 !important;
}

.input-group-text {
  border-radius: 0.5rem 0 0 0.5rem;
}

.input-group input {
  border-radius: 0 0 0 0;
}

.btn-danger {
  border-radius: 0 0.5rem 0.5rem 0;
}

.bg-dark {
  background-color: #2e2e2e !important;
}

.titulo-header-menu {
  letter-spacing: 1px;
}

.btn-nav {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #f0f0f0;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.categoria-next.active {
  background-color: #EB0029;
  color: white;
}
.categorias-lista {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 8px;
  scroll-behavior: smooth;
}

/* Botão de categoria */
.btn-categoria {
  background-color: #BC1015;
  flex: 0 0 auto;
  /* Permite encolher até 180px, crescer e ocupar o espaço */
  min-width: 280px;
  /* Não passa de 260px */
  height: 95px;
  border-radius: 30px;
  border: none;
  padding: 0 20px;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 14px;
  white-space: nowrap;
  transition: background-color 0.3s;
}

.btn-categoria img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  padding: 6px;
  object-fit: cover;
}

.btn-categoria.active {
  background-color: #EB0029;
}


.menu-cardapios .card {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 1.3rem !important;
  overflow: hidden;
}

.menu-cardapios .card img {
  border-radius: 1.3rem;
}

.menu-cardapios .d-flex.flex-wrap {
  gap: 1rem;
}

.menu-cardapios .btn.rounded-circle {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}